.about-container {
    z-index: 0;
    text-align: center;
    color: rgba(255,255,255,.70);
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(78, 80, 78, 0.79);
    border-radius: 20px;
    margin: 5%;
        background: radial-gradient(
        rgb(20, 49, 61), 
        rgb(27, 57, 70), 
        rgb(20, 49, 61)
    )
}

.about-title {
    padding-top: 20px;
    color: rgb(255, 36, 131);
}

.about-content p {
    font-size: .8rem;
    color: white;
    padding: 10px;
}

@media only screen and (min-width: 481px) {
    .about-content p {
        margin-left: 10%;
        margin-right: 10%;;
    }
}

@media only screen and (min-width: 768px) {
    .about-content p {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .about-content p {
        margin-left: 20%;
        margin-right: 20%;
    }  
}