.card {
    margin: 10px 20px;
    background-color: rgb(20, 49, 61);
    border: 3px solid rgba(78, 80, 78, 0.79);
    border-radius: 20px;
}

.card-img {
    width: 80%;
    margin: 10% 10% 0 10%;
    border: .5px solid rgba(78, 80, 78, 0.79);
    border-radius: 50px;
}

.card-body {
    color: rgba(255,255,255,.70);
    margin: 10px 0px 10px 0;
    padding: 8px 0 8px 0;
}

.card-desc p {
    font-size: .75rem;
    margin-bottom: 0;

}

.card:hover {
    box-shadow: 5px 8px 10px 2px rgb(27, 57, 70) !important;
}

.project-btn-links {
    font-size: .5rem;
    color: rgba(255,255,255,.70);
}
