.logo-container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    /* background-color: transparent; */
    z-index: 0;
    width: 10px;
}

.logo {
    width: 15rem;
    height: 15rem;
}

@media only screen and (min-width: 481px) {
    .logo-container {
        margin-left: 40px;
        margin-right: 40px;
    }
    .logo {
        width: 18rem;
        height: 18rem;
    }
}

@media only screen and (min-width: 769px) {
    .logo-container {
        margin-left: 60px;
        margin-right: 60px;
    }
    .logo {
        width: 20rem;
        height: 20rem;
    }
}

@media only screen and (min-width: 1025px) {
    .logo-container {
        margin-left: 100px;
        margin-right: 100px;
    }
    .logo {
        width: 22rem;
        height: 22rem;
    }
}