.contact-info {
    background-color: rgb(20, 49, 61);
    font-size: 24px;
    text-align: center;
}

.contact-title { 
    padding-top: 20px;
    padding-bottom: 5px;
    color: rgb(255, 36, 131);
}

.contact-links {
    display: inline;
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}

.btn {
    font-style: space-around;
    justify-content: space-around;
    margin: 10px 10px;
    border: 1px solid rgba(255,255,255,.70);
    border-radius: 10px;
}

