.contact-info {
    background-color: rgb(20, 49, 61);
    font-size: 24px;
    text-align: center;
}

.contact-title { 
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 36, 131);
}

.contact-links {
    padding-bottom: 10%;
    margin: 20px;
}

