.hello {
    text-align: right;
    margin-top: 10%;
    margin-right: 10%;
    font-size: 1.8rem;
    border-right: solid 2px rgb(255, 36, 131);
    white-space: nowrap;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
    position: absolute;
    right: 10px;
}
      
    /* Animation */

.hello {
    animation: animated-text 4s steps(17,end) 1s 1 normal both,
    animated-cursor 600ms steps(17,end) infinite;
}
    
    /* text animation */
    
@keyframes animated-text {
    from{width: 0;}
    to{width: 286px;}
}
    
    /* cursor animations */
    
@keyframes animated-cursor{
    from{border-right-color: rgba(0,255,0,.75);}
    to{border-right-color: transparent;}
}

.intro-title {
    text-align: right;
    padding-top: 10%;
    margin-right: 10%;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
    position: absolute;
    right: 10px;
}

.intro-content {
    text-align: right;
    padding-top: 10%;
    margin-right: 10%;
    font-size: .5rem;
    white-space: nowrap;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
    position: absolute;
    right: 10px;
}

