.intro-content {
    text-align: right;
    justify-content: right;
    margin-top: 5%;
    margin-right: 10%;
    font-size: 1rem;
}

span {
    color: yellow;
    font-size: 1rem;
    font-weight: 50px;
}