.quote {
    color: rgba(255,255,255,.70);
    z-index: 9;
    text-align: right;
    padding-bottom: 1px;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
    position: relative;
    right: 10px;    
}

.quote-text h5 {
    font-size: 1.8rem;
    font-family: 'Reenie Beanie', cursive;
    margin: 70% 5% 5% 20%;

}

.quote-author p {
    font-size: .9rem;
    margin: 3% 5% 5% 20%;

}

