:root {
    --off-white: rgba(255, 255, 255, 0.85);
}

.about-container {
    z-index: 0;
    text-align: center;
    color: var(--off-white);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--off-white);
    border-radius: 20px;
    margin: 8%;
}

.about-title h5 {
    padding-top: 20px;
    margin-bottom: 2%;
    font-size: 3rem;
    color: rgb(255, 36, 131);
}

.about-content {
    padding-bottom: 20px;
}

.about-content p {
    font-size: 1rem;
    color: white;
    padding: 10px;
}

@media only screen and (min-width: 481px) {
    .about-content p {
        margin-left: 10%;
        margin-right: 10%;;
    }
}

@media only screen and (min-width: 768px) {
    .about-content p {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .about-content p {
        margin-left: 20%;
        margin-right: 20%;
    }  
}