.bg-intro {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 10px
}

.particles {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    padding-top: 1rem;
}

