:root {
   --primary-text: rgba(255,255,255,.85);
   --shadow: rgba(191, 171, 176, 0.8);
}

.buttons {
    padding-bottom: 0;
}

.btn-hover {
   text-decoration: none;
   color: var(--primary-text);
   padding: 0.5em 1em;
   font-size: 1em;
   font-weight: 600;
   cursor: pointer;
   margin: 0.5em;
   height: 55px;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 50px;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .btn-hover:hover {
   text-decoration: none;
   color: var(--primary-text);
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
 }
 
 .btn-hover:focus {
   outline: none;
 }
 
 .btn-hover.btn-color {
   background-image: linear-gradient(
     to right,
     rgb(255, 36, 131),
     #647876,
     #522e4f,
     #f1bca7
   );
   box-shadow: 0 0.25em 0.5em 0 var(--shadow);
 }

/* .btn-link {
    border: 1px solid rgba(255,255,255,.70);
    border-radius: 10px;
    font-size: .8rem;
    padding: 10px;
    color: rgba(255,255,255,.85);
    background-color: black;
    box-shadow: 0 0 10px rgba(255,255,255,.70);    justify-content: center;
    align-items: center;
    text-align: center;
}

 */
