:root {
   --font-text: 'Fredoka', sans-serif;
   --primary-text: rgba(255,255,255,.85);
}

.card-img-top {
   align-items: center;
   width: 75%;
   margin: 0 10% 0 10%;
   border-radius: 20px;
   padding: 1px;
}

.card-body {
   color: var(--primary-text);
   padding-bottom: 0;
}

.card-title h1 {
   font-family: var(--font-text);
   font-size: 3em;
   margin: 5% auto;
}

.card-desc h4 {
   font-family: var(--font-text);
   font-size: 1.8em;
   margin: 5% 10% 5% 10%;
}

.project-btn-links {
   font-size: .5rem;
   color: var(--primary-text);
}

.divider {
   color: var(--primary-text);
   margin: 0 10% 0 10%;
   font-size: 5.5rem;
}


/* @media only screen and (min-width: 768px) {
   .card-title p {
      font-size: 1.3rem;
   }
   .card-desc p {
      font-size: 1rem;
   }
}

@media only screen and (min-width: 1024px) {
   .card-title p {
      font-size: 1.3rem;
   }
   .card-desc p {
      font-size: .9rem;
   }
}

@media only screen and (min-width: 1366px) {
   .card-img-top {
      width: 40%;
   }
   .card-desc p {
      margin: 2% 15% 0 15%;
   }
} */
