:root {
   --neon-dark-pink: rgb(255, 36, 131);
   --green-black: rgba(9, 25, 26);
   --shadow: rgba(191, 171, 176, 0.8);
   --primary-text: rgba(255,255,255,.85);
   --font-text: 'Fredoka', sans-serif;
}


.contact-info {
   background-color: var(--green-black);
   font-size: 24px;
   text-align: center;
   padding: 10% 3%;
}

.contact-title h1 { 
   font-family: var(--font-text);
   font-size: 6em;
   color: var(--neon-dark-pink);
   margin: 3% auto 1% auto;
}

.contact-links {
   display: inline;
   justify-content: center;
   align-items: center;
   color: var(--primary-text);
}

.contact-icon {
   color: var(--primary-text);
   font-size: 3em;
   padding: 1%;
}

.btn {
   padding: 1%;
   margin: 4%;
   justify-content: space-around;
   background-color: black;
   border: 1px solid var(--neon-dark-pink);
   border-radius: 50%;
   box-shadow: 0 0 3em var(--shadow);
}
/* 
.btn:hover {
   box-shadow: 0 0 3em var(--primary-text);
} */

/* @media only screen and (min-width: 768px) {
   .btn {
      padding: 1.5%;
   }
   .contact-icon {
      font-size: 3rem;
      padding: 8%;
   }
}

@media only screen and (min-width: 1024px) {
   .btn {
      padding: 1%;
   }
   .contact-title h5 {
      font-size: 2.5rem;
   }
   .contact-icon {
      font-size: 2.2rem;
      padding: 5%;
   }
}

@media only screen and (min-width: 1366px) {
   .contact-title h5 {
      font-size: 2.5rem;
   }
   .contact-icon {
      font-size: 2.5rem;
      padding: 5%;
   }
}
 */
