.contact-info {
    background-color: rgb(12, 29, 36);
    font-size: 24px;
    text-align: center;
}

.contact-title h5 { 
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 3rem;
    color: rgb(255, 36, 131);
}

.contact-links {
    display: inline;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1%;
    margin-bottom: 5%
}

.btn {
    font-size: 1rem;
    padding: 20px;
    justify-content: space-around;
    margin: 10px 10px;
    background-color: rgb(31, 73, 92);
    border: 1px solid rgba(255,255,255,.70);
    box-shadow: 0 0 10px rgba(255,255,255,.70);
    border-radius: 10px;
}

