:root {
   --green-black: rgba(9, 25, 26);
   --neon-dark-pink: rgb(255, 36, 131);
   --primary-text: rgba(255,255,255,.85);
   --secondary-text: rgb(252, 252, 15);
   --bg-dark: #0f1d1f;
   --font-heading: 'Corben', cursive;
   --font-text: 'Fredoka', sans-serif;
}

.projects-container {
   display: block;
   align-items: center;
   background-color: var(--green-black);
}

.project {
   padding-bottom: 10%;
   font-size: 1rem;
}

.project-title h1 {
   font-family: var(--font-text);
   font-size: 6em;
   color: var(--neon-dark-pink);
   margin: 5% auto 7% auto;
}

.project-btn-links {
   margin-bottom: 20px;
}

/* @media only screen and (min-width: 1024px) {
   .project {
      padding-bottom: 4%;
   }
   .project-title h5 {
      font-size: 2.5rem;
   }
}

@media only screen and (min-width: 1366px) {
   .project-title h5 {
      font-size: 2.5rem;
   }
} */
