:root {
   --green-black: rgba(9, 25, 26);
   --neon-dark-pink: rgb(255, 36, 131);
   --primary-text: rgba(255,255,255,.85);
   --secondary-text: rgb(252, 252, 15);
   --shadow: rgba(191, 171, 176, 0.8);
   --font-heading: 'Corben', cursive;
   --font-text: 'Fredoka', sans-serif;
}

.dev-projects-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: repeat(2, 1fr);
   max-width: 100vw;
   background-color: var(--green-black);
}

.project-title {
   grid-area: 1 / 1 / 2 / 4;
}

.project-title h1 {
   font-family: var(--font-text);
   font-size: 6em;
   color: var(--neon-dark-pink);
   margin: 5% auto 5% auto;
}

.dev-project1 {
   grid-area: 2 / 1 / 3 / 2;
   width: 30vw;
   margin-top: 20%;
   justify-self: right;
}

.dev-project2 {
   grid-area: 2 / 2 / 3 / 3;
   width: 30vw;
   justify-self: center;
}

.dev-project3 {
   grid-area: 2 / 3 / 3 / 4;
   width: 30vw;
   margin-top: 20%;
   justify-self: left;
}

.project-btn-links {
   display: flex;
   justify-content: center;
}

/* @media only screen and (min-width: 1024px) {
   .project {
      padding-bottom: 4%;
   }
   .project-title h5 {
      font-size: 2.5rem;
   }
}

@media only screen and (min-width: 1366px) {
   .project-title h5 {
      font-size: 2.5rem;
   }
} */
