.intro {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
}

.hello {
    padding: 10rem 2rem 0 2rem;
    font-size: 2rem;
    font-weight: 1000;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
}

.intro-content h4 {
    text-align: right;
    justify-content: right;
    font-size: 1rem;
    font-weight: 800;
    padding: 2rem;
    color: rgba(255,255,255,.70);
    right: 10px;
    z-index: 0;
    padding-bottom: 3rem;
}

.skills {
    padding: 3rem 2rem 1rem;
}

.typed-text {
    color: yellow;
    font-style: italic;
    font-weight: 500;
} 


