:root {
    --primary-text: rgba(255,255,255,.85);
    ;
    --secondary-text: rgb(252, 252, 15);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    text-align: right;
    padding: 65% 8% 0 8%;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hello {
    font-size: 2.5rem;
    padding-bottom: 6%;
    font-weight: 1000;
    overflow: hidden;    
    color: var(--primary-text);
}

.intro-content h4 {
    text-align: right;
    justify-content: right;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary-text);
    right: 10px;
    z-index: 0;
    padding-bottom: 3rem;
}

.skills {
    padding: 10% 8% 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.85);
    border-radius: 10px;
}

.typed-text {
    padding: 5%
}

.typed-text span {
    color: var(--secondary-text);
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1%;
} 


