.quote {
    display: block;
    color: rgba(255,255,255,.70);
    z-index: 9;
    text-align: right;
    padding: 8%;
    overflow: hidden;    
    color: rgba(255,255,255,.70);
    position: relative;
}

.quote-text h5 {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Reenie Beanie', cursive;
    margin-top: 8%;
}

.quote-author p {
    text-align: center;
    font-size: .9rem;
    margin-bottom: 8%;
}

