* {
   margin: 0;
   padding: 0;
   font-size: 16px;
}

.main-container {
   background-color: rgb(17, 25, 28);
   width: 100vw;
   overflow: hidden;
}

.nav-container {
   width: 100vw;
   margin: 0;
}

#intro {
   background-image: url('./img/bg-fog.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: left center;
   background-attachment: fixed;
   width: 100vw;
}

.intro-container { 
   text-align: right;
}

#about {
   background-color: #0f1d1f;
}

#quote {
   background-image: url('./img/bg-haze.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   width: 100vw;
   height: 60vh;
}

#design-projects {
   background-color: #0f1d1f;
}

#development-projects {
   background-color: #0f1d1f;
}

#contact {
   background-color: #0f1d1f;
}

#footer {
   padding: 2% 0 2% 0;
   background-color: #0f1d1f;
}

/* .space-container {
   padding: 1%;
   height: 1vh;
} */

/* @media screen and (min-width: 576px) {
   .abt-container {
      padding: 8% 0;
   }
}

@media screen and (min-width: 768px) {
   .abt-container {
      padding-top: 5%;
   }
   .projects-container {
      padding-top: 5%;
   }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1366px) {

}


 */
